body {
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 25px;
	line-height: 31px;
	color: rgb(73, 72, 100);
}
::selection {
	background: #ff455f;
	color: #fff;
}
::-moz-selection {
	background: #ff455f;
	color: #fff;
}


#overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: #fff;
	opacity: 0;
}

div#content-wrapper {
	height: 100%;
	min-width: 900px;
	min-height: 500px;
}
html.touch div#content-wrapper {
	min-width: 700px;
}
.scrollContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	min-width: 650px;
	width: 100%;
}
.scrollContent {
	position: relative;
	/*height: 100%;*/
}
section {
	height: 100vh;
	position: relative;
	z-index: 8888;
}

section#scroll-section {
}

.wand {
	position: absolute;
}

/*START*/

#scroll-animation-div {
	display: block;
	width: 650px;
	height: 400px;
	top: 45%;
	left: 50%;
	-webkit-transform: translate(-50%, -60%);
	-moz-transform: translate(-50%, -60%);
	transform: translate(-50%, -60%);
	position: absolute;
}
#scroll-animation-div .tophat {
	position: absolute;
	bottom: 110px;
	left: 50%;
	margin-left: -144px;
	margin-bottom: 50px;
}




html.touch body {
	font-size: 25px;
}
html.touch #info #hatcontainer {
	margin-bottom: 260px;
	height: 300px;
	width: 240px;
}
html.touch #info #hatcontainer .hat {
	left: 90px;
}
html.touch #info #hatcontainer #bunny {
	left: 110px;
}
html.touch #info #hatcontainer #speechbubble {
	left: -20px;
	top: 35px;
}
html.touch #info ul.nexttohat {
	padding-left: 240px;
}

#carbonads {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		Helvetica, Arial, sans-serif;
	margin: auto;
}

#carbonads {
	display: flex;
	max-width: 330px;
	background-color: hsl(0, 0%, 98%);
	box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
}

#carbonads a {
	color: inherit;
	text-decoration: none;
}

#carbonads a:hover {
	color: inherit;
}

#carbonads span {
	position: relative;
	display: block;
	overflow: hidden;
}

#carbonads .carbon-wrap {
	display: flex;
}

.carbon-img {
	display: block;
	margin: 0;
	line-height: 1;
}

.carbon-img img {
	display: block;
}

.carbon-text {
	font-size: 13px;
	padding: 10px;
	line-height: 1.5;
	text-align: left;
}

.carbon-poweredby {
	display: block;
	padding: 8px 10px;
	background: repeating-linear-gradient(
			-45deg,
			transparent,
			transparent 5px,
			hsla(0, 0%, 0%, 0.025) 5px,
			hsla(0, 0%, 0%, 0.025) 10px
		)
		hsla(203, 11%, 95%, 0.4);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 600;
	font-size: 9px;
	line-height: 1;
}
